.wrapper__diagram {
  max-width: 350px;
}
.diagram {
  margin-right: 1rem;
  font-size: 1.6rem;
  opacity: .7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: -1;
  &__categories {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    justify-content: center;
  }
  &__category {
    display: flex;
    justify-content: center;
    margin: 1rem 0 ;
    width: 33%;
  }
  &__img {
    width: 100%;
  }
  &__yellow {
    background-color: #fdff4d;
  }
  &__green {
    background-color: #61DB4D;
  }
  &__red {
    background-color: #ff4d5e;
  }
  &__brown {
    background-color: #a07252;
  }
}