.dashboard__title {
  font-weight: 400;
  font-size: 4rem;
  opacity: .7;
  margin: 2rem 2rem 0;
}

.my-plus {
  margin-left: 15px;
}

.table-wrap {
  text-align: center;
  display: inline-block;
  background-color: #fff;
  padding: 2rem 2rem;
  color: $greyDark;
}

.table {
  font-size: 1.6rem;
  border: 1px solid $darker-base-color;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  &__header-item, &__column {
    padding: 10px;
    text-align: center;
    border-right: 1px solid $darker-base-color;
  }
  &__action {
    display: flex;
    justify-content: space-around;
  }
  &__row {
    border: 1px solid $darker-base-color;
    padding: 5px;
  }
  &__header-item {
    color: #fff;
    background-color: $primary;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.item {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $greyDark;
  cursor: pointer;

  span {
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
    border-radius: 0.6rem;
    padding: 2rem;
    font-size: 3rem;
    transition: all 0.3s ease;
  }

  &:hover {
    span {
      transform: scale(1.2);
      color: $primary;
    }
  }
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 3rem;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
  &__numbers,
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;
    &:hover {
      color: $primary;
    }

    &.active {
      color: #ffffff;
      background: $primary;
      font-weight: 600;
      border: 1px solid $primary;
    }
  }
}

//adaptive table
@media screen and (max-width: 600px) {
  .table {
    border: 0;
    &__header {
      display: none;
    }
    &__row {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }
    &__column {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
      border-right: 1px solid transparent;
      &:last-child {
        border-bottom: 0;
      }
      &:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}





