// название файла нельзя в camelCase
.wrapper {
  position: absolute;
  font-family: Roboto, sans-serif;
  &__overlay{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 144, 144, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  &__form {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    border: 1px solid #eee;
    border-radius: 5px;
    height: fit-content;
    padding: 35px;
  }
}

.modal {
  &__header {
    text-transform: uppercase;
    font-weight: 600;
    opacity: .6;
    //color: ; удали
  }
  // пусто, удали
  &__content {}
  &__footer {}
}

.form {
  //width: 50% удали
  padding: 3rem;
  &__input {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid $base-color;
    width: 100%;
    margin: 5px 5px;
  }
}

// к чему такой большой маржин? Он же выглядит убого
.visible {
  margin-top: 15rem;
  display: none;
  color: crimson; // описать свой цвет и вынести
}

.btn {
  background-color: $darker-base-color; // надо выносить
  border: none;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  transition: background-color .4s ;
  margin: 2rem 2rem 0;
  &:hover {
    background-color: $greyDark;
  }
}

.select {
  &__input {
    //color: red;
    background: #eee;
  }
  &__input:first-child {
    opacity: .5;
  }
}

@media screen and (max-width: 767px) {
  .wrapper__form {
    padding: 35px 5px;
  }
  .form {
    padding: 3rem 0.5rem 0;
  }


}



