<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyCosts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div class="page">
        <header class="header container">
            <div class="logo">
                <img class="logo__img" src="img/logo.png" alt="logo costs">
            </div>
            <nav >
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="#">About</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Dashboard</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Diagram</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main container">
            <div class="dashboard">
                <h1 class="dashboard__title">My personal Costs</h1>
                <button id="myBtn" class="btn" type="button">Add new costs <i class="fas fa-plus my-plus"></i></button>
                <div class="table-wrap">
                    <table class="table">
                        <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__header-item">#</th>
                            <th class="table__header-item">Date</th>
                            <th class="table__header-item">Category</th>
                            <th class="table__header-item">Value</th>
                            <th class="table__header-item">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">1</td>
                            <td class="table__column" data-label="date">28.03.2020</td>
                            <td class="table__column" data-label="category">Food</td>
                            <td class="table__column" data-label="amount">169</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">2</td>
                            <td class="table__column" data-label="date">30.03.2020</td>
                            <td class="table__column" data-label="category">Transport</td>
                            <td class="table__column" data-label="amount">25</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">3</td>
                            <td class="table__column" data-label="date">30.03.2020</td>
                            <td class="table__column" data-label="category">Food</td>
                            <td class="table__column" data-label="amount">150</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">4</td>
                            <td class="table__column" data-label="date">1.04.2020</td>
                            <td class="table__column" data-label="category">Transport</td>
                            <td class="table__column" data-label="amount">25</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">5</td>
                            <td class="table__column" data-label="date">4.04.2020</td>
                            <td class="table__column" data-label="category">Education</td>
                            <td class="table__column" data-label="amount">250</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">6</td>
                            <td class="table__column" data-label="date">28.03.2020</td>
                            <td class="table__column" data-label="category">Food</td>
                            <td class="table__column" data-label="amount">169</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">7</td>
                            <td class="table__column" data-label="date">30.03.2020</td>
                            <td class="table__column" data-label="category">Transport</td>
                            <td class="table__column" data-label="amount">25</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">8</td>
                            <td class="table__column" data-label="date">30.03.2020</td>
                            <td class="table__column" data-label="category">Food</td>
                            <td class="table__column" data-label="amount">150</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">9</td>
                            <td class="table__column" data-label="date">1.04.2020</td>
                            <td class="table__column" data-label="category">Transport</td>
                            <td class="table__column" data-label="amount">25</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">10</td>
                            <td class="table__column" data-label="date">4.04.2020</td>
                            <td class="table__column" data-label="category">Education</td>
                            <td class="table__column" data-label="amount">250</td>
                            <td class="table__column table__action" data-label="action">
                                <i class="fas fa-pencil-alt pointer"></i>
                                <i class="fas fa-trash-alt pointer"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div     class="wrapper-pagination">
                        <ul class="pages">
                            <li class="pages__btn pointer">
                                <i class="fas fa-arrow-left"></i>
                            </li>
                            <li class="pages__numbers">1</li>
                            <li class="pages__numbers active">2</li>
                            <li class="pages__numbers">3</li>
                            <li class="pages__numbers">4</li>
                            <li class="pages__numbers">5</li>
                            <li class="pages__numbers">6</li>
                            <li class="pages__numbers">
                                <i class="fas fa-ellipsis-h"></i>
                            </li>
                            <li class="pages__numbers"> 10</li>
                            <li class="pages__btn pointer"><i class="fas fa-arrow-right"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="diagram">
                <div class="diagram__categories">
                    <span class="diagram__category diagram__yellow">Food</span>
                    <span class="diagram__category diagram__green">Education</span>
                    <span class="diagram__category diagram__red">Transport</span>
                    <span class="diagram__category diagram__brown">Clothing</span>
                </div>
                <div class="diagram__wrapper">
                    <img class="diagram__img" src="img/diagram.png" alt="diagram">
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="icons">
                <div class="icons__item"><i class="fas fa-home"></i></div>
                <div class="icons__item"><i class="far fa-envelope"></i></div>
                <div class="icons__item"><i class="far fa-calendar-alt"></i></div>
                <div class="icons__item"><i class="fas fa-trash-alt"></i></div>
            </div>
            <div class="copyright">
                <span>Saraikin Stanislav - 2021</span>
            </div>
        </footer>
    </div>
    <div id="myModal" class="wrapper">
        <div class="wrapper__overlay">
            <div class="wrapper__form">
                <div class="modal__header">Add payment <i class="fas fa-plus"></i></div>
                <div class="modal__content">
                    <form class="form">
                        <input class="form__input" placeholder="Date" type="date"/>
                        <select class="form__input select" name="category">
                            <option class="select__input" selected="selected" disabled="disabled">Category</option>
                            <option class="select__input" value="food">Food</option>
                            <option class="select__input" value="transport">Transport</option>
                            <option class="select__input" value="education">Education</option>
                            <option class="select__input" value="housing">Housing</option>
                        </select>
                        <input class="form__input" placeholder="Value" type="number" required />
                        <div class="form__btns">
                            <button class="btn">Save!</button>
                            <button class="btn close" type="button">Close</button>
                        </div>
                        <div class="visible">Вы не заполнили обязательные поля</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>