<!--у тебя уже есть index.html, на проект он должен быть один.
Точка входа в приложение App.vue файл, как мне просмотреть этот темплейт кроме как просто открыть файл в браузере?-->
<!DOCTYPE html>
<!--у тебя используются английский язык, почему тут указан ru?-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
<!--title обычно пишут перед /head-->
    <title>MyCosts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div class="page">
        <header class="header container">
            <div class="logo">
                <img class="logo__img" src="img/logo.png" alt="logo costs">
            </div>
            <!--li не может быть дочерним для nav, w3 validator ругается. Надо было оставить просто <a></a>-->
            <nav class="menu">
                <li class="menu__item"><a class="menu__link" href="#">About</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Dashboard</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Diagram</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
            </nav>
        </header>
        <main class="main container">
            <div class="dashboard">
                <h1 class="dashboard__title">My personal Costs</h1>
                <!--не пытайся уместить все в одну строчку, плохо же читается. Мог перенести иконку.-->
                <!--класс dashboard__btn не существует-->
                <button class="dashboard__btn add-btn" type="button">Add new costs <i class="fas fa-plus my-plus"></i></button>
                <!--класс dashboard__table не существует-->
                <div class="dashboard__table table-wrap">
                    <table class="table">
                        <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__header-item">#</th>
                            <th class="table__header-item">Date</th>
                            <th class="table__header-item">Category</th>
                            <th class="table__header-item">Value</th>
                            <th class="table__header-item">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">1</td>
                            <td class="table__column" data-label="date">28.03.2020</td>
                            <td class="table__column" data-label="category">Food</td>
                            <td class="table__column" data-label="amount">169</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">2</td>
                            <td class="table__column" data-label="date">30.03.2020</td>
                            <td class="table__column" data-label="category">Transport</td>
                            <td class="table__column" data-label="amount">25</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">3</td>
                            <td class="table__column" data-label="date">30.03.2020</td>
                            <td class="table__column" data-label="category">Food</td>
                            <td class="table__column" data-label="amount">150</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">4</td>
                            <td class="table__column" data-label="date">1.04.2020</td>
                            <td class="table__column" data-label="category">Transport</td>
                            <td class="table__column" data-label="amount">25</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">5</td>
                            <td class="table__column" data-label="date">4.04.2020</td>
                            <td class="table__column" data-label="category">Education</td>
                            <td class="table__column" data-label="amount">250</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">6</td>
                            <td class="table__column" data-label="date">28.03.2020</td>
                            <td class="table__column" data-label="category">Food</td>
                            <td class="table__column" data-label="amount">169</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">7</td>
                            <td class="table__column" data-label="date">30.03.2020</td>
                            <td class="table__column" data-label="category">Transport</td>
                            <td class="table__column" data-label="amount">25</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">8</td>
                            <td class="table__column" data-label="date">30.03.2020</td>
                            <td class="table__column" data-label="category">Food</td>
                            <td class="table__column" data-label="amount">150</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">9</td>
                            <td class="table__column" data-label="date">1.04.2020</td>
                            <td class="table__column" data-label="category">Transport</td>
                            <td class="table__column" data-label="amount">25</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__column" data-label="idx">10</td>
                            <td class="table__column" data-label="date">4.04.2020</td>
                            <td class="table__column" data-label="category">Education</td>
                            <td class="table__column" data-label="amount">250</td>
                            <!--не умещай все в одну строчку, самому удобно было это читать?-->
                            <td class="table__column table__action" data-label="action"><i class="fas fa-pencil-alt pointer"></i><i class="fas fa-trash-alt pointer"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--зачем тебе этот id?-->
                    <div id="pagination" class="wrapper-pagination">
                        <ul class="pages">
                            <li class="pages__btn pointer"><i class="fas fa-arrow-left"></i></li>
                            <!--лишний пробел перед 1-->
                            <li class="pages__numbers"> 1</li>
                            <li class="pages__numbers active">2</li>
                            <li class="pages__numbers">3</li>
                            <li class="pages__numbers">4</li>
                            <li class="pages__numbers">5</li>
                            <li class="pages__numbers">6</li>
                            <!--иконку бы использовал какую-нибудь чтоль, ради этих ... целых два класса со стилями написал-->
                            <li class="pages__dots">...</li>
                            <li class="pages__numbers"> 10</li>
                            <li class="pages__btn pointer"><i class="fas fa-arrow-right"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="diagram">
                <div class="diagram__categories">
                    <span class="diagram__category diagram__yellow">Food</span>
                    <span class="diagram__category diagram__green">Education</span>
                    <span class="diagram__category diagram__red">Transport</span>
                    <span class="diagram__category diagram__brown">Clothing</span>
                </div>
                <!--неудачное название для класса, родительский блок называется diagram, а дочерний wrapper. Надо заменить на что-нибудь более подходящее-->
                <div class="wrapper__diagram">
                    <img class="diagram__img" src="img/diagram.png" alt="diagram">
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="icons">
                <!--почему бы не добавить cursor: pointer в какой-нибудь класс footer__icon, либо использовать :hover? Так будет меньше писанины-->
                <div class="icons__item pointer"><i class="fas fa-home"></i></div>
                <div class="icons__item pointer"><i class="far fa-envelope"></i></div>
                <div class="icons__item pointer"><i class="far fa-calendar-alt"></i></div>
                <div class="icons__item pointer"><i class="fas fa-trash-alt"></i></div>
            </div>
            <div class="copyright">
                <span>Saraikin Stanislav - 2021</span>
            </div>
        </footer>
    </div>
</body>
</html>