<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ModalWindow</title><meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
<!--Modal window-->
<div class="wrapper">
    <div class="wrapper__overlay">
        <div class="wrapper__form">
            <div class="modal__header">Add payment +</div>
            <div class="modal__content">
                <form class="form">
                    <input class="form__input" placeholder="Date" />
                    <select class="form__input select" name="category">
                        <option class="select__input" selected="selected" disabled="disabled">Category</option>
                        <option class="select__input" value="food">Food</option>
                        <option class="select__input" value="transport">Transport</option>
                        <option class="select__input" value="education">Education</option>
                        <option class="select__input" value="housing">Housing</option>
                    </select>
                    <input class="form__input" placeholder="Value" type="number" required />
                    <button class="form__btn btn">Save!</button>
                    <p class="visible">Вы не заполнили обязательные поля</p>
                </form>
            </div>
            <div class="modal__footer">
                <button class="btn" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal window finish-->
</body>
</html>